body{
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg{
    width: 290px;
    border-radius: 10px;
    margin-bottom: 10px;
}
main{
    display: flex;
    flex-direction: column;
    background-color:hsl(0, 0%, 100%) ;
    padding: 15px 20px;
    padding-right: 60px;
    width: 250px;
    height: 450px;
    font-family: Figtree;
    border-color: hsl(0, 0%, 7%);
    border-width: 1px;
    border-style: solid;
    border-radius: 18px;
    box-shadow: 7px 10px 0px rgba(0, 0, 0, 1);
}
.status{
    background-color: hsl(47, 88%, 63%);
    padding: 5px 15px;
    margin: 10px 0px;
    display: inline;
    width: 55px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
}
.date{
    font-size: 12px;
    margin: 2px 0px;
    margin-bottom: 20px;
}
.title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.title:hover{
    cursor: pointer;
    color:hsl(47, 88%, 63%);
}
.desc{
    color: hsl(0, 0%, 42%);
    font-size: 14px;
    font-weight: 500;
    width: 300px;
    line-height: 22px;
    margin-top: -10px;
}
.avatar{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.profile{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.profile span{
    font-size: 13px;
    font-weight: 700;
}
